description "art-worker"



start on runlevel [2345]
stop on runlevel [016]

chdir /home/ubuntu/src/sand-spline-fork

# NO expect stanza if your script uses python-daemon
exec /usr/bin/python3 main-circles.py

# Only turn on respawn after you've debugged getting it to start and stop properly
respawn
