
[Unit]
Description=Simple WSGI Server

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/src/sand-spline-forkmain-circles.py

[Install]
WantedBy=multi-user.target
