
[Unit]
Description=Simple WSGI Server

[Service]
Type=simple
ExecStart=/usr/bin/python3.5 /home/ubuntu/src/sand-spline-fork/main-circles.py

[Install]
WantedBy=multi-user.target
